@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4 text-muted text-uppercase">Bem vindo a plataforma de Emprestimos de livros</h1>
    <p>Conheça melhor o desenvolvedor <a href="https://github.com/trycode2018">Va ao perfil do meu github</a>.</p>
    <div>
        <h3 class="text-muted display-6">Mérito de programação 2024.</h3>
        <img src="/img/certificate_php.jpg" class="img-fluid" />
    </div>
</div>
